<footer>
    <div>
        <span>
            <a href="https://github.com/mattinfern0/rain-sentry">Source</a>
        </span>
        <span class="align-right">
            Powered by <a class="openweather-link" href="https://openweathermap.org/api/">OpenWeather</a>
        </span>
    </div>
</footer>