<meta charset="UTF-8">
<title><%= `${baseTitle}${typeof pageTitle !== 'undefined' ? (' - ' + pageTitle) : ''}` %></title>
<link rel='stylesheet' href='/stylesheets/meyer_reset.css'>
<link rel='stylesheet' href='/stylesheets/mainSite.css' />
<link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">