<meta charset="UTF-8">
<title><%= baseTitle %></title>
<link rel='stylesheet' href='/stylesheets/meyer_reset.css'>
<link rel='stylesheet' href='/stylesheets/header.css'>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">