<header>
    <div id="logo">
        <!--Logo icon source: https://img.icons8.com/color/64/000000/umbrella.png-->
        <img src="/images/umbrella.png">
        <h1>Rain Sentry</h1>
    </div>
    
    <nav>
        <ul>
            <% for (let i = 0; i < navigation.length; i++) { %>
                <li class="<%= (typeof selectedI !== 'undefined') ? (selectedI === i ? 'selected' : '') : '' %>">
                    <a href='<%= navigation[i].link %>'>
                        <%= navigation[i].name %>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>