<header>
    <nav>
        <ul>
            <% for (let i = 0; i < navigation.length; i++) { %>
                <li class="<%= (typeof selectedI !== 'undefined') ? (selectedI === i ? 'selected' : '') : '' %>">
                    <a href='<%= navigation[i].link %>'>
                        <%= navigation[i].name %>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>