<% if (rainyDays.length > 0) { %>
    <ul id="rainy-day-list">
        <% for (let i = 0; i < rainyDays.length; i++) { %>
            <li class="content-block">
                <img src="<%= rainyDays[i].iconUrl %>">
                <span class="description">
                    <%= rainyDays[i].description %>
                </span>
                <span class="right-align">
                    <span class="time">
                        <%= rainyDays[i].time %>
                    </span>
                    <span class="date">
                        <%= rainyDays[i].date %>
                    </span>
                </span>
            </li>
        <% } %>
    </ul>
<% } else { %>
    <div class="content-block">
        <h3>Look's like you're all clear!</h3>
    </div>
    
<% } %>
