<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>
    
    <body>
        <% include ./partials/header %>
        
        <div id="content">
            <div class="content-block">
                <h1>Sorry, this page does not exist!</h1>
                <p>How did you end up here anyway?</p>
            </div> 
            
        </div>

        <% include ./partials/footer %>
    </body>
</html>