<html>
    <head>
        <% include ./partials/head %>
    </head>
    
    <body>
        <% include ./partials/header %>
        
        <div class="content-block">
            <h1>Oops! How did we end up here?</h1>
        </div>
        <div class="content-block">
            <h2><%= message %></h2>
            <h3><%= error.status %></h3>
            <pre><%= error.stack %></pre>
        </div>
        

        <% include ./partials/footer %>
    </body>
</html>

