<html>
    <head>
        <% include ./partials/head %>
    </head>
    
    <body>
        <% include ./partials/header %>
        
        <h1>Oops! How did we end up here?</h1>
        <h2><%= message %></h2>
        <h3><%= error.status %></h3>
        <pre><%= error.stack %></pre>

        <% include ./partials/footer %>
    </body>
</html>

