<html>
    <head>
        <% include ./partials/head %>
    </head>
    
    <body>
        <% include ./partials/header %>
        <h1>Hold up there! This page is under construction!</h1>
    </body>
</html>