<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>
    
    <body>
        <% include ./partials/header %>
        
        <div id="content"> 
            <h1>Hold up there! This page is under construction!</h1>
        </div>

        <% include ./partials/footer %>
    </body>
</html>