<!DOCTYPE html>
<html>
<head>
<% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>

    <div id="content">
        <form action="<%= targetUrl %>" method="POST" autofill="off">
            <input name="zipcode" type="text" placeholder="Zipcode">
            <input type="submit" value="Get Weather">
        </form>

        <% if (messages.error) { %>
            <p class="error"><%= messages.error %></p>
        <% } else if (typeof rainyDays !== 'undefined') {%>
            <h3>
                Results For: <span class="locationName"><%= locationName %></span>
            </h3>
            <% include ./partials/rainy_list %>
        <% } else if (typeof weatherInfo !== 'undefined') { %>
            <h3>
                Results For: <span class="locationName"><%= locationName %></span>
            </h3>
            <% include ./partials/weather_info %>
        <% } %>
    </div>
    
    <% include ./partials/footer %>
</body>
</html>
