<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>

  <body>
    <% include ./partials/header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Test</p>

    <form action="/rainydays" method="POST">
      <input name="zipcode" type="text" placeholder="Zipcode">
    </form>

    <% if (typeof rainyDays !== 'undefined') {%>
      <h1>Rainy Days:</h1>

    <% } %>
  </body>
</html>
