<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>

  <body>
    <% include ./partials/header %>

    <div id="content">
      <form action="<%= targetUrl %>" method="POST">
        <input name="zipcode" type="text" placeholder="Zipcode">
        <input type="submit" value="Submit">
      </form>

      <% if (messages.error) { %>
        <p class="error"><%= messages.error %></p>
      <% } else if (typeof rainyDays !== 'undefined') {%>
        <% include ./partials/rainy_list %>
      <% } %>
    </div>
  </body>
</html>
