<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/header %>
    <div id='content'>
        <% if (rainyDays.length > 0) { %>
            <ul>
                <% for (let i = 0; i < rainyDays.length; i++) { %>
                    <li><%= `${rainyDays[i].description} @ ${rainyDays[i].parsedTime}` %></li>
                <% } %>
            </ul>
        <% } else { %>
            <p>All dry!</p>
        <% } %>
    </div>
</body>
</html>