body {
    margin: 0;
}

header {
    width: 50%;
    height: 50px;
    background-color:  #518FDB;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav, nav ul {
    display: inline-block;
    height: 100%;
    list-style: none;
    width: 100%
}

nav li a{
    display: block;
    float: left;
    height: 100%;
    padding-top: 15px;
    padding-right: 20px; padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;  
}


li a, li a:visited, li a:hover{
    color: black;
}

li a:hover{
    background-color: #88AEDC;
    transition: background-color 0.2s ease;
}

nav li {
    display: block;
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
}

#logo, #logo:visited {
    padding-top: 10px; 
    padding-bottom: 3px;
    padding-right: 10px; padding-left: 10px;

    color: white;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

nav .selected a {
    color: white;
}
