
html {
    background-color: #57697E;
}

#logo h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 3.3em;
    text-align: center;
    height: auto;
    padding: 10px;
    color: #EFEFEF;
    font-weight: normal;
}

#logo * {
    display: inline-block;
    vertical-align: middle;
}

#logo {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#content {
    height: 100%;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #BAC7CD;
    border-radius: 5px;
    margin-bottom: 30px;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

input {
    font-size: 16pt;
    padding: 5px;
    border-radius: 5px;
}

input[type="text"] {
    border: 1px solid lightgray;
}

input[type="submit"]{
    text-align: center;
    background-color: white;
    font-weight: bold;
    color: rgb(69, 82, 97);
}

input[type="submit"]:hover{
    color: rgb(52, 146, 253);
    transition: color 0.1s ease;
}

#rainy-day-list {
    list-style: none;
    text-align: left;
    
}

.content-block {
    display: block;
    
    background-color: #E5E5E5;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
    border-radius: 5px;
}

.content-block img {
    background-color:#5088C7;
    border-radius: 100px;
}

#rainy-day-list span, #rainy-day-list img {
    display: inline-block;
    font-size: 16pt;
    vertical-align: middle;
}

.description {
    width: 33%;
}

.right-align {
    float: right;
}

.error {
    display: inline-block;
    padding: 20px;
    background-color: #F7D8D8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h3, h3 * {
    font-size: 20pt;
    font-weight: normal;
}

h3 .locationName {
    font-weight: bold;
}

footer {
    display: block;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(42, 52, 59, 0.84);
}

footer div {
    display: block;
    padding: 10px;
}

.align-right {
    float: right;
}

footer a:visited, footer a{
    color: #2196f3;
    text-decoration: none;
}

footer a.openweather-link {
    color: #eb6e4b;
}

.weather-description * {
    vertical-align: middle;
    display: inline-block;
    font-weight: bolder;
}

.current-temp{
    text-align: left;

    color: #5088c7;
    font-size: 3em;
    font-weight: bolder;

    margin-right: 10%;
}





